.footer__link {
    width: 16rem;
    display: flex;
    justify-content: space-between;
    align-items: inherit;
    background-color: inherit;
    img {
        background-color: inherit;
        width: 3rem;
    }
    a {
        font-size: 2rem;
    }
}

p {
    font-size: 2.2rem;
}
